{% extends 'base.html.twig' %}

{% block title %}Thank You{% endblock %}

{% block body %}
    <h3>Thank you for contacting us! We will contact you shortly.</h3>

    <hr>

    <a href="{{ path('hospital_index') }}">back to hospitals</a>

{% endblock %}
